html{
    overflow: scroll;
    /* overflow-x: hidden; */
}
body {
    margin: 0;          
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

.intro{
    position: relative;
    margin: 0 auto;
    display: grid;
    background-color: black;
    justify-content: center;
    align-items: middle;
    place-items: center;
    align-content: center;
    grid-template-columns: repeat(4, auto);
    height:140px;
    width: 760px;
    color: white;
    font-size: 6em;
    font-family: 'Impact';
    font-weight: bold;
    top: 450px;
    right: 10px;
}

.intro img{
    display: block;
    width: 250px;
    height: 400px;
}

section.about {
    margin: 0 auto;
    background: rgb(46, 53, 54);
    padding: 12em;
    height: 300px;
    width: 950px;
    overflow: hidden;
    position: relative;
}

section.about h1 {
    position: absolute;
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 15%;
}

section.about p {
    position: absolute;
    font-size: 2em;
    width: 55%;
    z-index: 1;
    top: 300px;
    left: 400px;
}

 .box1 {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 0;
    width: 800px;
    height: 800px;
    border: 30px solid #20A2C3;
    overflow: hidden;
    transform: rotateZ(65deg)
}

.box2 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 0;
    width: 200px;
    height: 200px;
    border: 30px solid rgba(255,255,255,.5);
    overflow: hidden;
}

#particles-js{
    position: relative;
    margin: 0 auto;
    height: 670px;
    width: 1330px;
    bottom: 200px;   
}

.skdiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    font-size: 20px;
    margin-right: 90px;
    margin-left: 50px;
    margin-top: 180px;
    text-align: center;
    color: white;
    width: 1060px;
}

.skdiv h3{
    color: rgb(41, 39, 39);
}

.skdiv div{
    height: 230px;
    width: 250px;
    border-radius: 10px;
    background: #20A2C3;
    background-image: url("img/blue.jpg"); 
    background-blend-mode: darken;
}

section.skills{ 
    margin: 0 auto; 
    height: 710px;
    width: 1335px;
    overflow: hidden;
    position: relative;
    background-color: rgba(49, 49, 49, 0.37);
    background-position: center;
    background-size: cover;    
}

section.skills h1 {
    position: absolute;
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 15%;
    color: #20A2C3;
    margin-top: 60px;
}

ul {
    list-style-type: none;
    position: relative;
}

li{
    text-align: center;
    position: relative;
    padding-right: 40px;
    color: rgb(235, 240, 240);
}

.decorDiv{
    margin-left: 1200px;
    margin-top: -720px;
    width: 600px;
    
}

.eachDecor{
   margin-top: 115px;
   height: 20px;
   background-color: #20A2C3;
   border-radius: 180px;
   border: 10px;
   border-color: beige;
}

section.contact{
    margin: 0 auto;
    position: relative;
    padding: 10em;
    height: 310px;
    width: 1015px;
    overflow: hidden;
    background-color: rgb(44, 43, 43);
}

section.contact h1 {
    position: absolute;
    font-size: 5em;
    text-transform: uppercase;
    margin: 0;
    z-index: 1;
    left: 7%;
    color: white;
    bottom: 440px;  
}

.icon{
    position: relative;
    height: 350px;
    width: 700px;
    overflow: hidden;
    margin-top: 65px;
    margin-left: 50px;
}
.icon img{
    margin-left: 90px;
    margin-top: 23px;
    width: 100px;
}

.icon img:hover{
    transform: scale(1.4);
    transition: .5s;
}

.row1{
    padding-bottom: 50px;
}

.cat{
    margin-left: 1250px;
    margin-top: -300px
}